body {
    font-family: Helvetica, sans-serif, Arial;
}

.customization-wrapper {
    margin-top: 20px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    margin: auto;
}

.boxes img{
    width: 100%;
}

.box-design {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.quote-button {
    display: flex;
    position: relative;
    justify-content: center;
    transform: translateX(-25px);
    transform: translateY(-0px);
    padding: 50px;
    height: 100px;
}

.quote-button button{
    width: 100%;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
    background-color: #bb1e44;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
}

@media (max-width: 900px) {
    .boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}