.swiper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 6%;
}

.swiper-slide {
  opacity: 0.7;
  transform: scale(0.9);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.swiper-slide-active{
  opacity: 1;
  transform: scale(1.05);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 900px) {
  .swiper{
    height: 45vh;
    margin-top: 30%;
  }
  
}